@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Bold.ttf);
}
@font-face {
  font-family: "Interreg";
  src: url(./fonts/Inter-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1300px;
  margin: 0 auto;
}

.background {
  width: 100vw;
  height: 1500px;
  z-index: -1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./photos/pawel-czerwinski-HuhzIzujHmY-unsplash.jpg);
  filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.header {
  display: flex;
  align-items: center;
  width: 80%;
  background: rgba(17, 1, 30, 0.1);
}
.header__logoside {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.header__logoside img {
  width: 39px;
  height: 44px;
}
.header__logoside h1 {
  font-family: "Inter", sans-serif;
  color: #ecf1f0;
  font-size: 24px;
}
.header__links {
  display: flex;
  gap: 30px;
  margin-top: 34px;
  margin-bottom: 26px;
  margin-left: 397px;
}
.header__links a {
  text-decoration: none;
  color: #ecf1f0;
  font-family: "Interreg", sans-serif;
}
.header__links a:hover {
  color: #0fae96;
  text-decoration: underline;
}
.header__ru {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-top: 34px;
  margin-bottom: 22px;
  margin-left: 64px;
}
.header__ru img {
  height: 20px;
  width: 20px;
}
.header__ru p {
  color: #ecf1f0;
  font-family: "Interreg", sans-serif;
}
.header__icons {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 34px;
  margin-bottom: 22px;
  margin-left: 64px;
}

.sect {
  display: grid;
  grid-template-columns: auto auto;
  gap: 32px;
}

.section1 {
  width: 80%;
}
.section1__firsth1 {
  margin-top: 64px;
}
.section1__firsth1 p {
  color: #ecf1f0;
  font-weight: 700;
  font-size: 34px;
  font-family: "Inter", sans-serif;
  line-height: 41.15px;
  width: 60%;
}
.section1__secondh1 {
  margin-top: 32px;
}
.section1__secondh1 p {
  color: #ecf1f0;
  font-weight: 400;
  font-size: 17px;
  font-family: "Interreg", sans-serif;
  line-height: 20.57px;
  width: 53%;
}
.section1__thirdpart {
  display: flex;
  gap: 16px;
  margin-top: 32px;
}
.section1__thirdpart--card {
  padding: 10px 10px;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
}
.section1__thirdpart--card p {
  color: #ecf1f0;
  font-weight: 400;
  font-size: 17px;
  font-family: "Interreg", sans-serif;
  line-height: 20.57px;
}
.section1__thirdpart--card:hover {
  background: #ecf1f0;
  border: 1px solid #ecf1f0;
  border-radius: 4px;
}
.section1__thirdpart--card:hover p {
  color: #11011e;
}

.section2 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 32px;
  width: 80%;
  margin-top: 32px;
  margin-bottom: 64px;
}
.section2__card {
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  position: relative;
}
.section2__card img {
  margin: 16px;
}
.section2__card h3 {
  color: #ecf1f0;
  width: 370px;
  font-weight: 700;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  line-height: 29.05px;
  margin: 16px;
  margin-right: 26px;
}
.section2__card p {
  color: #ecf1f0;
  width: 370px;
  font-weight: 400;
  font-size: 17px;
  font-family: "Interreg", sans-serif;
  line-height: 20.57px;
  margin: 16px;
}

.icon {
  position: absolute;
  top: 32px;
  left: 32px;
  display: flex;
  gap: 4px;
  align-items: center;
  background-color: #0fae96;
  border-radius: 60px;
  max-width: 190px;
  height: 32px;
}
.icon img {
  width: 20px;
  height: 20px;
  padding: 6px, 12px;
}
.icon p {
  color: #ecf1f0;
  font-weight: 600;
  font-size: 14px;
  font-family: "Interreg", sans-serif;
  line-height: 16.94px;
  padding: 8px, 12px;
}

.viewicon {
  position: absolute;
  top: 196px;
  left: 32px;
  display: flex;
  gap: 4px;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  width: 70px;
  height: 32px;
  border-radius: 1000px;
}
.viewicon img {
  width: 18px;
  height: 18px;
}
.viewicon p {
  color: #ecf1f0;
  font-weight: 600;
  font-size: 12px;
  font-family: "Interreg", sans-serif;
  line-height: 14.52px;
}

.data {
  position: absolute;
  top: 196px;
  left: 110px;
  display: flex;
  gap: 4px;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  width: 116px;
  height: 32px;
  border-radius: 1000px;
}
.data img {
  width: 18px;
  height: 18px;
}
.data p {
  color: #ecf1f0;
  font-weight: 600;
  font-size: 12px;
  font-family: "Interreg", sans-serif;
  line-height: 14.52px;
}

.aside__container {
  display: grid;
  grid-template-columns: auto;
  gap: 17px;
  align-items: center;
  margin-top: 340px;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  width: 57px;
  height: 280px;
  box-sizing: border-box;
}
.aside__container--numb {
  width: 45px;
  height: 45px;
  margin: 6px;
}
.aside__container--numb p {
  color: #ecf1f0;
  font-weight: 500;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  line-height: 33.3px;
  align-items: center;
  text-align: center;
}
.aside__container--numb:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.footer {
  margin-bottom: 64px;
}
.footer p {
  color: #ecf1f0;
  text-align: center;
  font-weight: 400;
  font-size: 17px;
  font-family: "Interreg", sans-serif;
  line-height: 20.57px;
}

/*# sourceMappingURL=style.css.map */
