@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: "Interreg";
  src: url(./fonts/Inter-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1300px;
  margin: 0 auto;
  // background-image: url(./photos/pawel-czerwinski-HuhzIzujHmY-unsplash.jpg);
  // background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  // filter: blur(30px);
  // background-image: url(./photos/back-img.png);

  // background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
  //   url(./photos/pawel-czerwinski-HuhzIzujHmY-unsplash.jpg);
  // filter: blur(30px);
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1426px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./photos/pawel-czerwinski-HuhzIzujHmY-unsplash.jpg);
  filter: blur(30px);
  // background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}
.header {
  display: flex;
  align-items: center;
  width: 80%;
  background: rgba(17, 1, 30, 0.1);
  &__logoside {
    display: flex;
    gap: 16px;
    align-items: center;
    margin: {
      top: 20px;
      bottom: 20px;
    }
    img {
      width: 39px;
      height: 44px;
    }
    h1 {
      font-family: "Inter", sans-serif;
      color: #ecf1f0;
      font-size: 24px;
    }
  }

  &__links {
    display: flex;
    gap: 30px;
    margin: {
      top: 34px;
      bottom: 26px;
      left: 397px;
    }
    a {
      text-decoration: none;
      color: #ecf1f0;
      font-family: "Interreg", sans-serif;
    }

    a:hover {
      color: #0fae96;
      text-decoration: underline;
    }
  }

  &__ru {
    display: flex;
    gap: 4px;
    align-items: center;

    margin: {
      top: 34px;
      bottom: 22px;
      left: 64px;
    }
    img {
      height: 20px;
      width: 20px;
    }
    p {
      color: #ecf1f0;
      font-family: "Inter", sans-serif;
    }
  }

  &__icons {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: {
      top: 34px;
      bottom: 22px;
      left: 64px;
    }
  }
}

.sect {
  display: grid;
  grid-template-columns: auto auto;
  gap: 32px;
}
.section1 {
  width: 80%;

  &__firsth1 {
    margin-top: 64px;
    p {
      color: #ecf1f0;

      font: {
        weight: 700;
        size: 34px;
        family: "Inter", sans-serif;
      }
      line-height: 41.15px;
      width: 60%;
    }
  }

  &__secondh1 {
    margin-top: 32px;
    p {
      color: #ecf1f0;
      font: {
        weight: 400;
        size: 17px;
        family: "Interreg", sans-serif;
      }
      line-height: 20.57px;
      width: 53%;
    }
  }

  &__thirdpart {
    display: flex;
    gap: 16px;
    margin-top: 32px;
    &--card {
      padding: 10px 10px;
      background: rgba(255, 255, 255, 0.03);
      border: 1px solid rgba(255, 255, 255, 0.05);
      border-radius: 4px;
      p {
        color: #ecf1f0;
        font: {
          weight: 400;
          size: 17px;
          family: "Interreg", sans-serif;
        }
        line-height: 20.57px;
      }
    }

    &--card:hover {
      background: #ecf1f0;
      border: 1px solid #ecf1f0;
      border-radius: 4px;
      p {
        color: #11011e;
      }
    }
  }
}

.section2 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 32px;
  width: 80%;
  margin: {
    top: 32px;
    bottom: 64px;
  }

  &__card {
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    img {
      margin: 16px;
    }

    h3 {
      color: #ecf1f0;
      width: 370px;
      font: {
        weight: 700;
        size: 24px;
        family: "Inter", sans-serif;
      }
      line-height: 29.05px;
      margin: 16px;
      margin-right: 26px;
    }

    p {
      color: #ecf1f0;
      width: 370px;
      font: {
        weight: 400;
        size: 17px;
        family: "Interreg", sans-serif;
      }
      line-height: 20.57px;
      margin: 16px;
    }
  }
}

.aside {
  &__container {
    display: grid;
    grid-template-columns: auto;
    gap: 17px;
    align-items: center;
    margin-top: 340px;

    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    width: 57px;
    height: 280px;
    box-sizing: border-box;

    &--numb {
      width: 45px;
      height: 45px;
      margin: 6px;
      p {
        color: #ecf1f0;
        font: {
          weight: 500;
          size: 18px;
          family: "Inter", sans-serif;
        }
        line-height: 33.3px;
        align-items: center;
        text-align: center;
      }
    }

    &--numb:hover {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 8px;
    }
  }
}
.footer {
  margin-bottom: 64px;
  p {
    color: #ecf1f0;
    text-align: center;
    font: {
      weight: 400;
      size: 17px;
      family: "Interreg", sans-serif;
    }
    line-height: 20.57px;
  }
}
