@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: "Interreg";
  src: url(./fonts/Inter-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1300px;
  margin: 0 auto;
}

.background {
  width: 100vw;
  height: 290vh;
  z-index: -1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./photos/pawel-czerwinski-HuhzIzujHmY-unsplash.jpg);
  filter: blur(4px);
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.header {
  display: flex;
  align-items: center;
  width: 80%;
  background: rgba(17, 1, 30, 0.1);
  &__logoside {
    display: flex;
    gap: 16px;
    align-items: center;
    margin: {
      top: 20px;
      bottom: 20px;
    }
    img {
      width: 39px;
      height: 44px;
    }
    h1 {
      font-family: "Inter", sans-serif;
      color: #ecf1f0;
      font-size: 24px;
    }
  }

  &__links {
    display: flex;
    gap: 30px;
    margin: {
      top: 34px;
      bottom: 26px;
      left: 397px;
    }
    a {
      text-decoration: none;
      color: #ecf1f0;
      font-family: "Interreg", sans-serif;
    }

    a:hover {
      color: #0fae96;
      text-decoration: underline;
      padding-bottom: 10px;
    }
  }

  &__ru {
    display: flex;
    gap: 4px;
    align-items: center;

    margin: {
      top: 34px;
      bottom: 22px;
      left: 64px;
    }
    img {
      height: 20px;
      width: 20px;
    }
    p {
      color: #ecf1f0;
      font-family: "Interreg", sans-serif;
    }
  }

  &__icons {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: {
      top: 34px;
      bottom: 22px;
      left: 64px;
    }
  }
}

.head {
  display: none;
}
.button {
  display: none;
}
.sect {
  display: grid;
  grid-template-columns: auto auto;
  gap: 32px;
}
.section1 {
  width: 80%;

  &__firsth1 {
    margin-top: 64px;
    p {
      color: #ecf1f0;

      font: {
        weight: 700;
        size: 34px;
        family: "Inter", sans-serif;
      }
      line-height: 41.15px;
      width: 60%;
    }
  }

  &__secondh1 {
    margin-top: 32px;
    p {
      color: #ecf1f0;
      font: {
        weight: 400;
        size: 17px;
        family: "Interreg", sans-serif;
      }
      line-height: 20.57px;
      width: 53%;
    }
  }

  &__thirdpart {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 32px;
    &--card {
      padding: 10px 10px;
      background: rgba(255, 255, 255, 0.03);
      border: 1px solid rgba(255, 255, 255, 0.05);
      border-radius: 4px;
      p {
        color: #ecf1f0;
        font: {
          weight: 400;
          size: 17px;
          family: "Interreg", sans-serif;
        }
        line-height: 20.57px;
      }
    }

    &--card:hover {
      background: #ecf1f0;
      border: 1px solid #ecf1f0;
      border-radius: 4px;
      p {
        color: #11011e;
      }
    }
  }
}

.section2 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 32px;
  width: 80%;
  margin: {
    top: 32px;
    bottom: 64px;
  }

  &__card {
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    position: relative;
    img {
      margin: 16px;
      height: 228px;
      width: 380px;
    }

    h3 {
      color: #ecf1f0;
      width: 370px;
      font: {
        weight: 700;
        size: 24px;
        family: "Inter", sans-serif;
      }
      line-height: 29.05px;
      margin: 16px;
      margin-right: 26px;
    }

    p {
      color: #ecf1f0;
      width: 370px;
      font: {
        weight: 400;
        size: 17px;
        family: "Interreg", sans-serif;
      }
      line-height: 20.57px;
      margin: 16px;
    }
  }
}
.icon {
  position: absolute;
  top: 32px;
  left: 32px;
  display: flex;
  gap: 4px;
  align-items: center;
  background-color: #0fae96;
  border-radius: 60px;
  max-width: 145px;
  height: 32px;
  img {
    width: 20px;
    height: 20px;
    padding: 6px, 12px;
    margin-right: 0px;
  }
  p {
    color: #ecf1f0;
    font: {
      weight: 600;
      size: 14px;
      family: "Interreg", sans-serif;
    }
    line-height: 16.94px;
    padding: 8px, 12px;
    margin-left: 0px;
  }
}

.viewicon {
  position: absolute;
  top: 196px;
  left: 32px;
  display: flex;
  gap: 4px;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  width: 70px;
  height: 32px;
  border-radius: 1000px;
  img {
    width: 18px;
    height: 18px;
    margin-right: 0;
  }
  p {
    margin-left: 0px;
    color: #ecf1f0;
    font: {
      weight: 600;
      size: 12px;
      family: "Interreg", sans-serif;
    }
    line-height: 14.52px;
    margin-left: 0;
  }
}

.data {
  position: absolute;
  top: 196px;
  left: 110px;
  display: flex;
  gap: 4px;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  width: 116px;
  height: 32px;
  border-radius: 1000px;
  img {
    width: 18px;
    height: 18px;
    margin-right: 0;
  }
  p {
    margin-left: 0;
    color: #ecf1f0;
    font: {
      weight: 600;
      size: 12px;
      family: "Interreg", sans-serif;
    }
    line-height: 14.52px;
    margin-left: 5px;
  }
}
.aside {
  &__container {
    display: grid;
    grid-template-columns: auto;
    gap: 17px;
    align-items: center;
    margin-top: 340px;

    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    width: 57px;
    height: 280px;
    box-sizing: border-box;

    &--numb {
      width: 45px;
      height: 45px;
      margin: 6px;
      p {
        color: #ecf1f0;
        font: {
          weight: 500;
          size: 18px;
          family: "Inter", sans-serif;
        }
        line-height: 33.3px;
        align-items: center;
        text-align: center;
      }
    }

    &--numb:hover {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 8px;
    }
  }
}
.footer {
  margin-bottom: 64px;
  p {
    color: #ecf1f0;
    text-align: center;
    font: {
      weight: 400;
      size: 17px;
      family: "Interreg", sans-serif;
    }
    line-height: 20.57px;
  }
}

@media only screen and (max-width: 1400px) {
  .background {
    width: 100vw;
    height: 310vh;
    z-index: -1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(./photos/pawel-czerwinski-HuhzIzujHmY-unsplash.jpg);
    filter: blur(4px);
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  }
  .header {
    &__logoside {
      margin: {
        left: 40px;
      }
    }

    &__links {
      margin: {
        left: 250px;
      }
    }
  }

  .head {
    display: none;
  }
  .button {
    display: none;
  }
  .sect {
    display: grid;
    grid-template-columns: auto;
  }
  .section1 {
    &__firsth1 {
      margin-left: 40px;
    }

    &__secondh1 {
      margin: {
        top: 32px;
        left: 40px;
      }
    }

    &__thirdpart {
      margin: {
        top: 32px;
        left: 40px;
      }
    }
  }

  .section2 {
    gap: 10px;
    width: 90%;
    margin: {
      top: 32px;
      bottom: 64px;
      left: 20px;
    }

    &__card {
      position: relative;
      img {
        height: 200px;
        width: 352px;
      }

      h3 {
        width: 330px;
        margin: 13px;
        margin-right: 0px;
      }

      p {
        width: 330px;
        margin: 13px;
      }
    }
  }
  .icon {
    position: absolute;
    top: 28px;
    left: 28px;

    img {
      width: 20px;
      height: 20px;
      margin-right: 0;
    }
    p {
      margin-left: 0;
    }
  }

  .viewicon {
    position: absolute;
    top: 176px;
    left: 28px;

    width: 70px;
    height: 32px;
    img {
      width: 18px;
      height: 18px;
      margin-right: 0;
    }
    p {
      margin-left: 0;
    }
  }

  .data {
    position: absolute;
    top: 176px;
    left: 106px;
    width: 116px;
    height: 32px;
    img {
      width: 18px;
      height: 18px;
      margin-right: 0;
    }
    p {
      margin-left: 0;
      font-size: 13px;
    }
  }

  .aside {
    &__container {
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 5px;
      align-items: center;
      margin-top: 64px;
      margin: 0 auto;
      width: 250px;
      height: 60px;
    }
  }
  .footer {
    margin: {
      bottom: 64px;
      top: 64px;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .background {
    width: 100vw;
    height: 435vh;
  }
  .header {
    // margin: 0 auto;
    &__logoside {
      margin: {
        left: 40px;
      }
    }

    &__links {
      margin: {
        left: 50px;
      }
    }
  }

  .head {
    display: none;
  }

  .button {
    display: none;
  }

  .section1 {
    width: 80%;
    margin: 0 auto;
  }

  .section2 {
    grid-template-columns: auto auto;
    gap: 60px;
    width: 80%;
    margin: 0 auto;
    margin: {
      top: 64px;
      bottom: 64px;
    }
    &__card {
      position: relative;
      img {
        height: 200px;
        width: 92%;
      }

      h3 {
        width: 330px;
        margin: 13px;
        margin-right: 0px;
      }

      p {
        width: 330px;
        margin: 13px;
      }
    }
  }
  .icon {
    position: absolute;
    top: 28px;
    left: 28px;

    img {
      width: 20px;
      height: 20px;
      margin-right: 0;
    }
    p {
      margin-left: 0;
    }
  }

  .viewicon {
    position: absolute;
    top: 176px;
    left: 28px;

    width: 70px;
    height: 32px;
    img {
      width: 18px;
      height: 18px;
      margin-right: 0;
    }
    p {
      margin-left: 0;
    }
  }

  .data {
    position: absolute;
    top: 176px;
    left: 106px;
    width: 116px;
    height: 32px;
    img {
      width: 18px;
      height: 18px;
      margin-right: 0;
    }
    p {
      margin-left: 0;
    }
  }
}

// @media only screen and (max-width: 1022px) {
//   .header {
//     &__logoside {
//       margin: {
//         left: 40px;
//       }
//     }

//     &__links {
//       margin: {
//         left: 50px;
//       }
//     }
//   }
// }

@media only screen and (max-width: 992px) {
  .background {
    width: 100vw;
    height: 1680vh;
  }
  .header {
    &__logoside {
      margin: {
        left: 40px;
      }
    }

    &__links {
      margin: {
        left: 40px;
      }
    }

    &__icons {
      display: none;
    }
  }
  .head {
    display: none;
  }

  .button {
    display: none;
  }
  .section1 {
    width: 80%;
    margin: 0 auto;

    &__firsth1 {
      margin-top: 64px;
      p {
        color: #ecf1f0;

        font: {
          weight: 700;
          size: 34px;
          family: "Inter", sans-serif;
        }
        line-height: 41.15px;
        width: 90%;
      }
    }

    &__secondh1 {
      margin-top: 32px;
      p {
        color: #ecf1f0;
        font: {
          weight: 400;
          size: 17px;
          family: "Interreg", sans-serif;
        }
        line-height: 20.57px;
        width: 70%;
      }
    }

    &__thirdpart {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      margin-top: 32px;
    }
  }
  .section2 {
    grid-template-columns: auto;
    gap: 60px;
    width: 80%;
    margin: 0 auto;
    margin: {
      top: 32px;
      bottom: 64px;
    }
    &__card {
      position: relative;
      img {
        height: 374px;
        width: 590px;
      }

      h3 {
        width: 580px;
        margin: 25px;
        margin-right: 0px;
      }

      p {
        width: 580px;
        margin: 25px;
      }
    }
  }
  .icon {
    position: absolute;
    top: 40px;
    left: 40px;
    max-width: 190px;
    height: 50px;

    img {
      width: 30px;
      height: 30px;
    }
    p {
      font: {
        weight: 700;
        size: 16px;
      }
      line-height: 16.94px;
    }
  }

  .viewicon {
    position: absolute;
    top: 300px;
    left: 40px;
    width: 100px;
    height: 50px;
    img {
      width: 24px;
      height: 24px;
    }

    p {
      font: {
        weight: 700;
        size: 16px;
      }
      line-height: 18px;
    }
  }

  .data {
    position: absolute;
    top: 300px;
    left: 170px;
    width: 170px;
    height: 50px;
    img {
      width: 24px;
      height: 24px;
    }
    p {
      font: {
        weight: 700;
        size: 16px;
      }
      line-height: 18px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .background {
    width: 100vw;
    height: 1460vh;
  }

  .header {
    display: none;
  }

  .head {
    display: flex;
    align-items: center;
    margin: 0 auto;

    &__logoside {
      display: flex;
      gap: 16px;
      align-items: center;
      margin: {
        top: 20px;
        bottom: 20px;
        left: 40px;
      }
      img {
        width: 39px;
        height: 44px;
      }
      h1 {
        font-family: "Inter", sans-serif;
        color: #ecf1f0;
        font-size: 24px;
      }
    }

    &__ru {
      display: flex;
      gap: 4px;
      align-items: center;

      margin: {
        top: 20px;
        bottom: 22px;
        right: 10px;
        left: 250px;
      }
      img {
        height: 20px;
        width: 20px;
      }
      p {
        color: #ecf1f0;
        font-family: "Interreg", sans-serif;
      }
    }

    &__openbtn {
      margin: {
        top: 34px;
        bottom: 22px;
        right: 30px;
      }
    }
  }

  .button {
    display: none;
  }
  .section2 {
    grid-template-columns: auto;
    width: 80%;
    margin: 0 auto;
    margin: {
      top: 32px;
      bottom: 64px;
    }
    &__card {
      position: relative;
      img {
        height: 270px;
        width: 422px;
      }

      h3 {
        width: 410px;
        margin: 18px;
        margin-right: 0px;
      }

      p {
        width: 410px;
        margin: 18px;
      }
    }
  }
  .icon {
    position: absolute;
    top: 32px;
    left: 32px;
    max-width: 190px;
    height: 34px;

    img {
      width: 20px;
      height: 20px;
    }
  }

  .viewicon {
    position: absolute;
    top: 236px;
    left: 32px;

    width: 100px;
    height: 34px;
    img {
      width: 20px;
      height: 20px;
    }
  }

  .data {
    position: absolute;
    top: 236px;
    left: 146px;
    width: 146px;
    height: 34px;
    img {
      width: 20px;
      height: 20px;
    }
  }
}
@media only screen and (max-width: 586px) {
  .background {
    width: 100vw;
    height: 1300vh;
  }
  .head {
    display: flex;
    align-items: center;
    width: 80%;
    &__logoside {
      margin: {
        top: 16px;
        bottom: 16px;
        left: 14px;
      }
      img {
        width: 25px;
        height: 28px;
      }
      h1 {
        font-size: 16px;
      }
    }

    &__ru {
      margin: {
        top: 16px;
        bottom: 16px;
        left: 77px;
      }

      p {
        font-size: 17px;
      }
    }

    &__openbtn {
      margin: 16px;
      img {
        width: 28px;
        height: 28px;
      }
    }
  }
  .section1 {
    width: 80%;

    &__firsth1 {
      margin: 0 auto;
      margin-top: 28px;

      p {
        font: {
          weight: 700;
          size: 21px;
        }
        line-height: 25.41px;
        width: 100%;
      }
    }

    &__secondh1 {
      margin: 0 auto;
      margin-top: 16px;
      p {
        width: 100%;
      }
    }

    &__thirdpart {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin: 0 auto;
      margin-top: 16px;
      &--card {
        p {
          font: {
            size: 12px;
          }
          line-height: 14.52px;
        }
      }
    }
  }

  .section2 {
    grid-template-columns: auto;
    width: 90%;
    margin: 0 auto;
    margin: {
      top: 32px;
      bottom: 32px;
    }
    &__card {
      position: relative;
      img {
        max-height: 175px;
        max-width: 305px;
        margin: 2px;
      }

      h3 {
        width: 240px;
        margin: 16px;

        font: {
          weight: 700;
          size: 21px;
        }
        line-height: 25.41px;
        margin-right: 26px;
      }

      p {
        width: 240px;
        margin: 16px;
        font-size: 17px;

        font: {
          weight: 400;
          size: 17px;
        }
        line-height: 20.57px;
      }
    }
  }
  .icon {
    position: absolute;
    top: 16px;
    left: 16px;
    max-width: 111px;
    height: 32px;

    img {
      width: 18px;
      height: 18px;
    }

    p {
      font: {
        size: 12px;
      }
      line-height: 14.52px;
    }
  }

  .viewicon {
    position: absolute;
    top: 127px;
    left: 16px;

    width: 70px;
    height: 32px;
    img {
      width: 18px;
      height: 18px;
    }
    p {
      font-size: 12px;
    }
  }

  .data {
    position: absolute;
    top: 127px;
    left: 94px;
    width: 116px;
    height: 32px;
    img {
      width: 18px;
      height: 18px;
    }
    p {
      font-size: 12px;
    }
  }
  .aside {
    &__container {
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 1px;
      align-items: center;
      width: 230px;
      height: 45px;
    }

    &--numb {
      width: 35px;
      height: 35px;
      margin: 5px;
      p {
        font: {
          size: 12px;
        }
        line-height: 20.57px;
      }
    }

    &--numb:hover {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 5px;
      width: 30px;
      height: 30px;
    }
  }
  .footer {
    margin-bottom: 64px;
    p {
      font: {
        size: 12px;
      }
      line-height: 14.52px;
    }
  }
}
